
<%= link_to "シーン作成画面", new_scene_path %>
<div class="main-content">
  <div id="index-scene-container">
    <% @scenes.each do |scene| %>
      <%= link_to scene_path(scene) do %>
        <div id="scene<%= scene.id %>" class="scenes">
          <div id="scene<%= scene.id %>-stage"></div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>


<div id="hidden">
  <% @scenes.each do |scene| %>
    <input type="hidden" id="scene<%= scene.id %>-data" value="<%= scene.json_data %>">
  <% end %>
</div>


<script src="https://unpkg.com/konva@8.2.2/konva.min.js"></script>
<%= javascript_include_tag "scene-index.js" %>
<%= stylesheet_link_tag 'scenes' %>