<div class="main_content">
  <div class="left">
    <div class="top">
      <div id="stageLeftGoUp" class="arrow_btn">
        <%= image_tag 'arrow.png', :width => '30' , style:"transform: rotate(0deg);"%>
      </div>
      <div id="stageLeft" class="canvases_wrapper">
        <% @characters.each do |char| %>
          <div id="char<%= char.id %>" class="canvas">
            <div id="char<%= char.id %>-stage"></div>
          </div>
        <% end %>
      </div>
      <div id="stageLeftGoDown" class="arrow_btn">
        <%= image_tag 'arrow.png', :width => '30' , style:"transform: rotate(180deg);"%>
      </div>
    </div>
    <%= link_to new_character_path, class:"back_btn" do %>
      <div class="button">
        <p>じぶんのキャラクターを<br>つくってみる！</p>
      </div>
    <% end %>
  </div>

  <div class="middle">
    <div class="buttons">
      <div id="scaleUp" class="button">
        <%= image_tag 'btn1.png' %>
      </div>
      <div id="scaleDown" class="button">
        <%= image_tag 'btn2.png' %>
      </div>
      <div id="leftRot" class="button">
        <%= image_tag 'btn3.png' %>
      </div>
      <div id="rightRot" class="button">
        <%= image_tag 'btn4.png' %>
      </div>
      <div id="destroy" class="button">
        <%= image_tag 'btn5.png' %>
      </div>
      <div id="destroyAll" class="button">
        <%= image_tag 'btn6.png' %>
      </div>
    </div>
    <div class="scene_canvas_wrapper">
      <div class="canvas" id="stageCenter"></div>
    </div>
    <div class="buttons">
      <div id="toTop" class="button">
        <%= image_tag 'btn7.png' %>
      </div>
      <div id="toBottom" class="button">
        <%= image_tag 'btn8.png' %>
      </div>
      <div id="up" class="button">
        <%= image_tag 'btn9.png' %>
      </div>
      <div id="down" class="button">
        <%= image_tag 'btn10.png' %>
      </div>
      <div id="visibility" class="button">
        <%= image_tag 'btn11.png' %>
      </div>
    </div>
  </div>

  <div class="right">
    <div class="top">
      <div id="stageRightGoUp" class="arrow_btn">
          <%= image_tag 'arrow.png', :width => '30' , style:"transform: rotate(0deg);"%>
        </div>
      <div id="stageRight" class="canvases_wrapper scene_canvases_wrapper"></div>
      <div id="stageRightGoDown" class="arrow_btn">
        <%= image_tag 'arrow.png', :width => '30' , style:"transform: rotate(180deg);"%>
      </div>
    </div>
    <div class="bottom">
      <div id="save" class="button">つぎへ</div>
      <div class="text">
        <p class="step"><span class="current_step">①</span> ② ③ ④</p>
        <p>つぎはアニメーションの<br>はじめのポーズをきめるよ！</p>
      </div>
    </div>
  </div>
</div>

<div class="load-sound">
  <audio id="up_sound" preload="auto">
    <source src="<%= audio_path("up")%>" type="audio/wav">
  </audio>
  <audio id="down_sound" preload="auto">
    <source src="<%= audio_path("down")%>" type="audio/wav">
  </audio>
  <audio id="appearance_sound" preload="auto">
    <source src="<%= audio_path("appearance")%>" type="audio/wav">
  </audio>
  <audio id="paint_sound" preload="auto">
    <source src="<%= audio_path("paint")%>" type="audio/wav">
  </audio>
</div>

<div id="hidden">
  <% @characters.each do |char| %>
    <input type="hidden" id="char<%= char.id %>-data" value="<%= char.json_data %>">
  <% end %>
</div>
<script src="https://unpkg.com/konva@8.2.2/konva.min.js"></script>
<%= javascript_include_tag "transform.js" %>
<%= javascript_include_tag "scene-new.js" %>
<%= stylesheet_link_tag 'scenes' %>

