<div class="main-content row">
  <div class="col col-left">
    <div class="stage-left-container">
      <div id="stageLeftGoUp" class="round-btn xform-btn arrow-btn">
        <%= image_tag 'arrow.png', :width => '30' , style:"transform: rotate(0deg);"%>
      </div>
      <div id="stageLeft" class="stage-left">
        <% @characters.each do |char| %>
          <div id="char<%= char.id %>" class="characters">
            <div id="char<%= char.id %>-stage"></div>
          </div>
        <% end %>
      </div>
      <div id="stageLeftGoDown" class="round-btn xform-btn arrow-btn">
        <%= image_tag 'arrow.png', :width => '30' , style:"transform: rotate(180deg);"%>
      </div>
    </div>
    <div class="btn-back-container">
      <%= link_to new_character_path, class:"btn-back" do %>
        <p>じぶんのキャラクターを<br>つくってみる！</p>
      <% end %>
    </div>
  </div>

  <div class="col col-center">
    <div class="xform-btns">
      <div id="scaleUp" class="round-btn xform-btn">
        <%= image_tag 'btn1.png', :width => '90' %>
      </div>
      <div id="scaleDown" class="round-btn xform-btn">
        <%= image_tag 'btn2.png', :width => '90' %>
      </div>
      <div id="leftRot" class="round-btn xform-btn">
        <%= image_tag 'btn3.png', :width => '90' %>
      </div>
      <div id="rightRot" class="round-btn xform-btn">
        <%= image_tag 'btn4.png', :width => '90' %>
      </div>
      <div id="destroy" class="round-btn xform-btn">
        <%= image_tag 'btn5.png', :width => '90' %>
      </div>
      <div id="destroyAll" class="round-btn xform-btn">
        <%= image_tag 'btn6.png', :width => '90' %>
      </div>
    </div>
    <div class="scene-stage" id="stageCenter"></div>
    <div class="xform-btns">
      <div id="toTop" class="round-btn xform-btn">
        <%= image_tag 'btn7.png', :width => '90' %>
      </div>
      <div id="toBottom" class="round-btn xform-btn">
        <%= image_tag 'btn8.png', :width => '90' %>
      </div>
      <div id="up" class="round-btn xform-btn">
        <%= image_tag 'btn9.png', :width => '90' %>
      </div>
      <div id="down" class="round-btn xform-btn">
        <%= image_tag 'btn10.png', :width => '90' %>
      </div>
      <div id="visibility" class="round-btn xform-btn">
        <%= image_tag 'btn11.png', :width => '90' %>
      </div>
    </div>
  </div>

  <div class="col col-right">
    <div class="stage-right-container">
      <div id="stageRightGoUp" class="round-btn xform-btn arrow-btn">
          <%= image_tag 'arrow.png', :width => '30' , style:"transform: rotate(0deg);"%>
        </div>
      <div id="stageRight" class="stage-right"></div>
      <div id="stageRightGoDown" class="round-btn xform-btn arrow-btn">
        <%= image_tag 'arrow.png', :width => '30' , style:"transform: rotate(180deg);"%>
      </div>
    </div>
    <div class="information">
      <div id="save" class="round-btn btn-to-next">つぎへ</div>
      <div class="caption-to-next">
        <p class="step"><span class="current-step">①</span> ② ③ ④</p>
        <p>つぎはアニメーションの<br>はじめのポーズをきめるよ！</p>
      </div>
    </div>
  </div>
</div>

<div class="load-sound">
  <audio id="up_sound" preload="auto">
    <source src="<%= audio_path("up")%>" type="audio/wav">
  </audio>
  <audio id="down_sound" preload="auto">
    <source src="<%= audio_path("down")%>" type="audio/wav">
  </audio>
  <audio id="appearance_sound" preload="auto">
    <source src="<%= audio_path("appearance")%>" type="audio/wav">
  </audio>
  <audio id="paint_sound" preload="auto">
    <source src="<%= audio_path("paint")%>" type="audio/wav">
  </audio>
</div>

<div id="hidden">
  <% @characters.each do |char| %>
    <input type="hidden" id="char<%= char.id %>-data" value="<%= char.json_data %>">
  <% end %>
</div>
<script src="https://unpkg.com/konva@8.2.2/konva.min.js"></script>
<%= javascript_include_tag "transform.js" %>
<%= javascript_include_tag "scene-new.js" %>
<%= stylesheet_link_tag 'scenes' %>

