<div class="main-content row">
  <div class="col col-left">
    <div id="stageLeft" class="stage-left">
      <% @characters.each do |char| %>
        <div id="char<%= char.id %>" class="characters">
          <div id="char<%= char.id %>-stage"></div>
        </div>
      <% end %>
    </div>
    <div class="btn-back-container">
      <%= link_to new_character_path, class:"btn-back" do %>
        <p>じぶんのキャラクターを<br>つくってみる！</p>
      <% end %>
    </div>
  </div>

  <div class="col col-center">
    <div class="xform-btns">
      <div id="scaleUp" class="round-btn xform-btn">大きく</div>
      <div id="scaleDown" class="round-btn xform-btn">小さく</div>
      <div id="leftRot" class="round-btn xform-btn">左</div>
      <div id="rightRot" class="round-btn xform-btn">右</div>
      <div id="destroy" class="round-btn xform-btn">ゴミ箱</div>
      <div id="destroyAll" class="round-btn xform-btn">クリア</div>
    </div>
    <div class="scene-stage" id="stageCenter"></div>
    <div class="xform-btns">
      <div id="toTop" class="round-btn xform-btn">toTop</div>
      <div id="toBottom" class="round-btn xform-btn">toBottom</div>
      <div id="up" class="round-btn xform-btn">up</div>
      <div id="down" class="round-btn xform-btn">down</div>
    </div>
  </div>

  <div class="col col-right">
    <div id="stageRight" class="stage-right"></div>
    <div class="information">
      <div id="save" class="round-btn">できた！</div>
    </div>
  </div>
</div>

<div id="hidden">
  <% @characters.each do |char| %>
    <input type="hidden" id="char<%= char.id %>-data" value="<%= char.json_data %>">
  <% end %>
</div>
<script src="https://unpkg.com/konva@8.2.2/konva.min.js"></script>
<%= javascript_include_tag "transform.js" %>
<%= javascript_include_tag "scene-new.js" %>
<%= stylesheet_link_tag 'scenes' %>

