
<div class="scene_show_main_content">
  <div class="top">
    <%= link_to scene_path(@pre_scene.id), class:"round_btn button pre_btn" do %>
      <%= image_tag 'arrow.png' , style:"transform: rotate(-90deg);"%>
    <% end %>
    <div id="scene-container" class="canvas_container">
      <div class="scene">
      </div>
    </div>
    <%= link_to scene_path(@next_scene.id), class:"round_btn button next_btn" do %>
      <%= image_tag 'arrow.png' , style:"transform: rotate(90deg);"%>
    <% end %>
  </div>
  <div class="bottom">
    <div id="visibility" class="round_btn button sc_show_elt_btn">
      <%= image_tag 'btn11.png' %>
    </div>
    <div id="soundOn" class="round_btn button sc_show_elt_btn">
      <%= image_tag 'onpu.png' %>
    </div>
  </div>
<div>


<div class="load-sound">
  <audio id="up_sound" preload="auto">
    <source src="<%= audio_path("up")%>" type="audio/wav">
  </audio>
  <% for num in 1..15 do %>
    <audio id="bs-<%= num %>" preload="auto">
      <source src="<%= audio_path("bs-" + num.to_s)%>" type="audio/wav">
    </audio>
  <% end %>
</div>


<div id="hidden">
    <input type="hidden" id="data" value="<%= @scene.json_data %>">
  </div>
<script src="https://unpkg.com/konva@8.2.2/konva.min.js"></script>
<%= stylesheet_link_tag 'scenes' %>
<%= javascript_include_tag "animate.js" %>


