<div id="visibility" class="round-btn xform-btn">はとめ</div>
<div class="main-content" id='show-main'>
  <%= link_to 'pre', scene_path(@pre_scene.id), class:"round-btn show-btn pre-btn" %>
  <div id="scene-container">
    <div class="scene">
    </div>
  </div>
  <%= link_to 'next', scene_path(@next_scene.id), class:"round-btn show-btn next-btn" %>
<div>


<div id="hidden">
    <input type="hidden" id="data" value="<%= @scene.json_data %>">
  </div>
<script src="https://unpkg.com/konva@8.2.2/konva.min.js"></script>
<%= stylesheet_link_tag 'scenes' %>
<%= javascript_include_tag "animate.js" %>


