<div class="main-content row">
  <div class="col col-left">
    <div id="stageLeft" class="stage-left confirm-stage"></div>
    <div class="btn-back-container">
      <%= link_to new_character_path, class:"btn-back" do %>
        <p>まえのがめんへ</br>もどる</p>
      <% end %>
    </div>
  </div>

  <div class="col col-center">
    <div class="caption">
      <p>はとめのばしょはばっちりかな？<br>キャラクターをうごかしてかくにんしてみよう！</p>
    </div>
    <div class="char-stage" id="stageCenter"></div>
    <div class="xform-btns">
      <div id="makeEyelet" class="round-btn xform-btn">
          <%= image_tag 'btn11.png', :width => '90' %>
      </div>
      <div id="destroyEyelet" class="round-btn xform-btn">
        <%= image_tag 'btn12.png', :width => '90' %>
      </div>
    </div>
  </div>

  <div class="col col-right">
      <div id="stageRight" class="stage-right confirm-stage"></div>
      <div class="information">
        <div id="save" class="round-btn">できた！</div>
      </div>
  </div>
</div>

<input type="hidden" id="data" value="<%= @data.json_data %>">
 <script src="https://unpkg.com/konva@8.2.2/konva.min.js"></script>
 <%= hidden_field_tag "authenticity_token", form_authenticity_token %>
 <%= javascript_include_tag "solution.js" %>
 <%= javascript_include_tag "char-confirm.js" %>
 <%= stylesheet_link_tag 'characters' %>
