<div class="main_content">
  <div class="left">
    <div id="stageLeft" class="top"></div>
    <%= link_to new_character_path, class:"back_btn" do %>
      <div class="button">
        <p>まえのがめんへ</br>もどる</p>
      </div>
    <% end %>
  </div>
  <div class="middle">
    <div class="caption">
      <p>はとめのばしょはばっちりかな？<br>キャラクターをうごかしてかくにんしてみよう！</p>
    </div>
    <div class="char_canvas_wrapper" id="stageCenter"></div>
    <div class="buttons">
      <div id="makeEyelet" class="button">
          <%= image_tag 'btn11.png' %>
      </div>
      <div id="destroyEyelet" class="button">
        <%= image_tag 'btn12.png' %>
      </div>
    </div>
  </div>

  <div class="right">
      <div id="stageRight" class="right"></div>
      <div class="bottom">
        <div id="save" class="button confirm_btn">できた！</div>
      </div>
  </div>
</div>

<input type="hidden" id="data" value="<%= @data.json_data %>">
 <script src="https://unpkg.com/konva@8.2.2/konva.min.js"></script>
 <%= hidden_field_tag "authenticity_token", form_authenticity_token %>
 <%= javascript_include_tag "solution.js" %>
 <%= javascript_include_tag "char-confirm.js" %>
 <%= stylesheet_link_tag 'characters' %>
