<div class="main-content row">
  <div class="col col-left">
    <div id="shapesContainer">
    </div>
    <div id="btn-container">
      <%= link_to new_character_path, class:"button", id:"to-scene-new" do %>
        <p>キャラクターつくるのをやめる</p>
      <% end %>
    </div>
  </div>

  <div class="col col-center">
    <div class="xform-btns">
      
    </div>
    <div id="char-container">
      <div id="char"></div>
    </div>
    <div class="xform-btns">
      <div id="makeEyelet" class="btn xform-btn">makeEyelet</div>
      <div id="destroyEyelet" class="btn xform-btn">destroyEyelet</div>
    </div>
  </div>

  <div class="col col-right">
      <div id="colorContainer">
      </div>
      <div class="information">
        <div id="save" class="btn">できた！</div>
      </div>
  </div>
</div>

<input type="hidden" id="data" value="<%= @data.json_data %>">
 <script src="https://unpkg.com/konva@8.2.2/konva.min.js"></script>
 <%= hidden_field_tag "authenticity_token", form_authenticity_token %>
 <%= javascript_include_tag "solution.js" %>
 <%= javascript_include_tag "char-confirm.js" %>
 <%= stylesheet_link_tag 'scenes' %>
 <%= stylesheet_link_tag 'characters' %>
