<div class="main-content row">
  <div class="col col-left">
    <div id="shapesContainer">
    </div>
    <div id="btn-container">
      <%= link_to new_character_path, class:"button", id:"to-scene-new" do %>
        <p>キャラクターつくるのをやめる</p>
      <% end %>
    </div>
  </div>

  <div class="col col-center">
    <div class="xform-btns">
      <div id="scaleUp" class="btn xform-btn">大きく</div>
      <div id="scaleDown" class="btn xform-btn">小さく</div>
      <div id="leftRot" class="btn xform-btn">左</div>
      <div id="rightRot" class="btn xform-btn">右</div>
      <div id="destroy" class="btn xform-btn">ゴミ箱</div>
      <div id="destroyAll" class="btn xform-btn">クリア</div>
    </div>
    <div id="char-container">
      <div id="char"></div>
    </div>
    <div class="xform-btns">
      <div id="toTop" class="btn xform-btn">toTop</div>
      <div id="toBottom" class="btn xform-btn">toBottom</div>
      <div id="up" class="btn xform-btn">up</div>
      <div id="down" class="btn xform-btn">down</div>
    </div>
  </div>

  <div class="col col-right">
      <div id="colorContainer">
        
      </div>
      <div class="information">
        <div id="save" class="btn">できた！</div>
      </div>
  </div>
</div>

 <script src="https://unpkg.com/konva@8.2.2/konva.min.js"></script>
 <%= hidden_field_tag "authenticity_token", form_authenticity_token %>
 <%= javascript_include_tag "transform.js" %>
 <%= javascript_include_tag "char-new.js" %>
 <%= stylesheet_link_tag 'scenes' %>
 <%= stylesheet_link_tag 'characters' %>