<div class="main_content top_main_content" id="top-main">
  <%= link_to 'みんなのさくひん', scenes_path, class:'homes_button works_btn' %>
  <div id="topMainVisual" class="top_main_visual">
    <div id="top-main"></div>
  </div>
  <%= link_to 'あたらしくつくる', new_scene_path, class:'homes_button new_btn' %>
</div>

<audio id="appearance_sound" preload="auto">
    <source src="<%= audio_path("appearance")%>" type="audio/wav">
  </audio>

<script src="https://unpkg.com/konva@8.2.2/konva.min.js"></script>
<%= stylesheet_link_tag 'homes' %>
<%= javascript_include_tag "top.js" %>