<!DOCTYPE html>
  <head>
    <title>GraduationWork</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <script>
      (function(d) {
        var config = {
          kitId: 'jvm1tsd',
          scriptTimeout: 3000,
          async: true
        },
        h=d.documentElement,t=setTimeout(function(){h.className=h.className.replace(/\bwf-loading\b/g,"")+" wf-inactive";},config.scriptTimeout),tk=d.createElement("script"),f=false,s=d.getElementsByTagName("script")[0],a;h.className+=" wf-loading";tk.src='https://use.typekit.net/'+config.kitId+'.js';tk.async=true;tk.onload=tk.onreadystatechange=function(){a=this.readyState;if(f||a&&a!="complete"&&a!="loaded")return;f=true;clearTimeout(t);try{Typekit.load(config)}catch(e){}};s.parentNode.insertBefore(tk,s)
      })(document);
    </script>
  </head>

  <div class="container">
    <header>
      <%= link_to root_path, class:'logo' do %>
        <%= image_tag 'logo.png', :width => '250' %>
      <% end %>
      <%= link_to 'みんなのさくひん', scenes_path, class:'button' %>
      <%= link_to 'あたらしくつくる', new_scene_path, class:'button new_button' %>
    </header>
    <%= yield %>
    <div class="error_message_wrapper">
      <div class="error_message">
        <p>
          画面が小さいみたい！
          <br />
          タブレットかパソコンで遊んでね！
        </p>
        <p class="for_parent">
          おうちの方へ
          <br />
          タブレット端末を横にして使用するか、
          <br />
          横1024px, 縦768px以上のディスプレイではとめふれんずをご利用ください。
        </p>
      </div>
    </div>
  </div>
</html>
